######################
# Entando
######################

.entando

######################
# Build folders
######################

**/node_modules
**/target
**/build
**/dist

######################
# IntelliJ IDEA
######################

.idea
*.iws
*.iml
*.ipr

######################
# Keycloak DB files
######################

/svc/keycloak/keycloak-db/*

######################
# Files to keep
######################

!.gitkeep

######################
# Mac OSX
######################
.DS_Store

######################
# Angular
######################
.angular