<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>NAME</th>
        <th>LAST NAME</th>
        <th>ADDRESS</th>
        <th>PHONE NUMBER</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactList">
        <td class="hidden">{{ contact.id }}</td>
        <td>{{ contact.name }}</td>
        <td>{{ contact.lastname }}</td>
        <td>{{ contact.address }}</td>
        <td>{{ contact.phone }}</td>
        <td><app-detailsmenu [contact]="contact"></app-detailsmenu></td>
      </tr>
    </tbody>
  </table>
</div>
