<div>
  <table class="table table-zebra w-full mt-3" aria-label="Users Agenda">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>LAST NAME</th>
        <th>ADDRESS</th>
        <th>PHONE NUMBER</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactList" class="hover">
        <td class="font-bold"><span class='label-text'>{{ contact.id }}</span></td>
        <td><span class='label-text'>{{ contact.name }}</span></td>
        <td><span class='label-text'>{{ contact.lastname }}</span></td>
        <td><span class='label-text'>{{ contact.address }}</span></td>
        <td><span class='label-text'>{{ contact.phone }}</span></td>
        <td><span class='label-text'><app-detailsmenu [contact]="contact"></app-detailsmenu></span></td>
      </tr>
    </tbody>
  </table>
</div>
